# Basic Python

## 1. Split this string

In [ ]:
s = "Hi there Sam!"

In [1]:
s="Hi there Sam!"
n=s.split()
print(n)

['Hi', 'there', 'Sam!']

## 2. Use .format() to print the following string. 

### Output should be: The diameter of Earth is 12742 kilometers.

In [ ]:
planet = "Earth"
diameter = 12742

In [42]:
planet = "Earth"
diameter = 12742
print('The diameter of {} is {} kilometers.'.format(planet,diameter))

The diameter of Earth is 12742 kilometers.

## 3. In this nest dictionary grab the word "hello"

In [8]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}
d['k1'][3]['tricky'][3]['target'][3]

'hello'

# Numpy

In [11]:
import numpy as np

## 4.1 Create an array of 10 zeros? 
## 4.2 Create an array of 10 fives?

In [13]:
array=np.zeros(10)
print("An array of 10 zeroes")
print (array)

An array of 10 zeroes
[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [14]:
array=np.ones(10)*5
print("An array of 10 fives")
print (array)

An array of 10 fives
[5. 5. 5. 5. 5. 5. 5. 5. 5. 5.]

## 5. Create an array of all the even integers from 20 to 35

In [18]:
a = np.arange(20,35,2)
print(a)

[20 22 24 26 28 30 32 34]

## 6. Create a 3x3 matrix with values ranging from 0 to 8

In [19]:
x=np.arange(0,9).reshape(3,3)
print(x)

[[0 1 2]
 [3 4 5]
 [6 7 8]]

## 7. Concatenate a and b 
## a = np.array([1, 2, 3]), b = np.array([4, 5, 6])

In [20]:
a=np.array([1,2,3])
b=np.array([4,5,6])
print(a)
print(b)

[1 2 3]
[4 5 6]

# Pandas

## 8. Create a dataframe with 3 rows and 2 columns

In [22]:
import pandas as pd
data=[['Pavan',10],['Vamsi',20],['Sai',30]]
a=pd.DataFrame(data,columns=['Name','Age'])
print(a)

    Name  Age
0  Pavan   10
1  Vamsi   20
2    Sai   30

## 9. Generate the series of dates from 1st Jan, 2023 to 10th Feb, 2023

In [39]:
from pandas.core.groupby.generic import dedent
import calendar
mn=1
yy=2023
print(calendar.month(yy,mn))
mn=2
yy=2023
print(calendar.month(yy,mn))

    January 2023
Mo Tu We Th Fr Sa Su
                   1
 2  3  4  5  6  7  8
 9 10 11 12 13 14 15
16 17 18 19 20 21 22
23 24 25 26 27 28 29
30 31

   February 2023
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28

## 10. Create 2D list to DataFrame

lists = [[1, 'aaa', 22],
         [2, 'bbb', 25],
         [3, 'ccc', 24]]

In [ ]:
lists = [[1, 'aaa', 22], [2, 'bbb', 25], [3, 'ccc', 24]]

In [32]:
lists=[[1,'aaa',22],[2,'bbb',25],[3,'ccc',24]]
df=pd.DataFrame(lists,columns=['Number','FName','Age'])
print(df)

   Number FName  Age
0       1   aaa   22
1       2   bbb   25
2       3   ccc   24